@import 'tailwindcss';

@font-face {
	font-family: Graphik;
	src: url(/my-app/src/assets/font/GraphikLCG-Regular.woff),
		url(/my-app/src/assets/font/GraphikLCG-Regular.woff2);
}

.bg-block {
	background: linear-gradient(
			0deg,
			var(--bg-inverse-tp-4, rgba(33, 33, 33, 0.04)) 0%,
			var(--bg-inverse-tp-4, rgba(33, 33, 33, 0.04)) 100%
		),
		var(--bg-primary, #fff);
		border-radius: 32px
}
@media (max-width: 375px) {
  .bg-block{
		border-radius: 24px;
	}
}
.custom-pagination .swiper-pagination-bullet {
  @apply w-24 h-1.5 bg-gray-400 rounded-md transition-all duration-300;
}

.custom-pagination .swiper-pagination-bullet-active {
  @apply bg-gray-500;
}

.swiper-slide{
	display: flex;
	justify-content: center;
	width: fit-content;
}

@theme{
	--breakpoint-xs: 23.4375rem;
}
